@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    background-color: #0d1821;
    font-family: 'Righteous', sans-serif;
    color: #ffefd3;
    scroll-behavior: smooth;
}